<div class="container">
  <h1>Editing Offer</h1>

  <%= render 'form', offer: @offer %>

  <div class="my-4">
    <%= link_to 'Voltar', @offer, class: "btn btn-outline-secondary" %> |
    <%= link_to 'Ofertas', offers_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
