<div class="container">
  <h1>Editing Offer</h1>

  <%= render 'form', offer: @offer %>
  <br>
  <%= link_to 'Show', @offer , class: "btn btn-outline-secondary"%> |
  <%= link_to 'Back', offers_path, class: "btn btn-outline-secondary" %>
</div>