<div class="container">
  <h1>Editing Offer</h1>

  <%= render 'form', offer: @offer %>

  <div class="my-4">
    <%= link_to 'Voltar', @offer %> |
    <%= link_to 'Ofertas', offers_path %>
  </div>
</div>
